/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) {

    .tx-container {
        width: 95%;
    }

    .header{
    
        .header-container{

            nav{
    
                .btn-menu{
                    display: block;

                    i{
                        width: 30px;
                        height: 30px;
                        color: #607d8b;
                        background: #e9e9e9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }
                .nav-bar{
                    display: none;
                }
                .nav-bar.responseve{
                    display: flex;
                    position: fixed;
                    top: 0;
                    right: 0;
                    background: white;
                    box-shadow: 0 0 30 gray;
                    width: 100%;
                    height: 80px;
                    z-index: 9999;
                    border-bottom: 2px solid #a29bfe;
                    text-align: center;
                    animation: .5s show cubic-bezier(0.16, 1, 0.3, 1) forwards;

                    ul{
                        display: flex;
                        border: 0;
                        width: 100%;
                        padding-right: 0;

                        li{
                            height: 40px;
                            line-height: 40px;

                            a{
                                padding:0 15px;
                                height: 100%;
                            }
                        }
                    }

                    .btn-menu-close{
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        
                        i{
                            width: 25px;
                            height: 25px;
                            color: white;
                            color: #607d8b;
                            background: #a29bfe;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 17px;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                            cursor: pointer;
                        }
                    }

                    @keyframes show{
                        0%{
                            opacity: 0;
                            transform: translateY(-100%);
                        }
                        100%{
                            opacity: 1;
                            transform: translateY(0%);
                        }
                    }

                    &.hide{
                        animation: .5s hide cubic-bezier(0.16, 1, 0.3, 1) forwards;

                        @keyframes hide{
                            0%{
                                opacity: 1;
                                transform: translateY(0%);
                            }
                            100%{
                                opacity: 0;
                                transform: translateY(-100%);
                            }
                        }
                    }
                }
            }
        }
    }

    .demo{

        .demo-item{
            margin-bottom: 30px;
    
            .demo-item-content{
                display: block;
    
                .demo-view{
                    flex: 1;
                    height: 300px;
                    display: flex;
    
                    h2 , div span{
                        font-size: 40px;
                    }

                    h2 , div > span{
                        font-size: 48px;
                    }
                    h3{
                        font-size: 30px;
                    }
                    div {
                        span , p{
                            font-size: 25px;
                        }
                    }
                    .d-11-scale{
                        span{
                            font-size: 30px;
                        }
                    }
                    .d-12-scale{
                        span{
                            font-size: 30px;
                        }
                    }
                }
                .demo-code{
                    display: flex;
    
                    pre {
                        width: 100%;
                    }
                }
            }
    
        }
    }


}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {

    .tx-container{
        width: 90%;
    }

    .header{
    
        .header-container{

            nav{
    
                .btn-menu{
                    display: block;

                    i{
                        width: 30px;
                        height: 30px;
                        color: #607d8b;
                        background: #e9e9e9;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-size: 20px;
                        border-radius: 3px;
                        cursor: pointer;
                    }
                }
                .nav-bar{
                    display: none;
                }
                .nav-bar.responseve{
                    display: flex;
                    position: fixed;
                    top: 0;
                    right: 0;
                    background: white;
                    box-shadow: 0 0 30 gray;
                    width: 100%;
                    height: 80px;
                    z-index: 9999;
                    border-bottom: 2px solid #a29bfe;
                    text-align: center;
                    animation: .5s show cubic-bezier(0.16, 1, 0.3, 1) forwards;

                    ul{
                        display: flex;
                        border: 0;
                        width: 100%;
                        padding-right: 0;

                        li{
                            height: 40px;
                            line-height: 40px;

                            a{
                                padding:0 15px;
                                height: 100%;
                            }
                        }
                    }

                    .btn-menu-close{
                        display: block;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        
                        i{
                            width: 25px;
                            height: 25px;
                            color: white;
                            color: #607d8b;
                            background: #a29bfe;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-size: 17px;
                            border-top-left-radius: 3px;
                            border-top-right-radius: 3px;
                            cursor: pointer;
                        }
                    }

                    @keyframes show{
                        0%{
                            opacity: 0;
                            transform: translateY(-100%);
                        }
                        100%{
                            opacity: 1;
                            transform: translateY(0%);
                        }
                    }

                    &.hide{
                        animation: .5s hide cubic-bezier(0.16, 1, 0.3, 1) forwards;

                        @keyframes hide{
                            0%{
                                opacity: 1;
                                transform: translateY(0%);
                            }
                            100%{
                                opacity: 0;
                                transform: translateY(-100%);
                            }
                        }
                    }
                }
            }
        }
    }

    .demo{

        .demo-item{
            margin-bottom: 30px;
    
            .demo-item-content{
                display: block;
    
                .demo-view{
                    flex: 1;
                    height: 300px;
                    display: flex;

                    h2 , div span{
                        font-size: 40px;
                    }

                    h2 , div > span{
                        font-size: 48px;
                    }
                    h3{
                        font-size: 30px;
                    }
                    div {
                        span , p{
                            font-size: 25px;
                        }
                    }
                    .d-11-scale{
                        span{
                            font-size: 30px;
                        }
                    }
                    .d-12-scale{
                        span{
                            font-size: 30px;
                        }
                    }
                }
                .demo-code{
                    display: flex;
    
                    pre {
                        width: 100%;
                    }
                }
            }
    
        }
    }

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {

    .demo{

        .demo-item{
            margin-bottom: 30px;
    
            .demo-item-content{
                display: block;
    
                .demo-view{
                    flex: 1;
                    height: 500px;
                    display: flex;
    
                    h2 , div span{
                        font-size: 40px;
                    }

                    h2 , div > span{
                        font-size: 48px;
                    }
                    h3{
                        font-size: 30px;
                    }
                    div {
                        span , p{
                            font-size: 25px;
                        }
                    }
                    .d-11-scale{
                        span{
                            font-size: 30px;
                        }
                    }
                    .d-12-scale{
                        span{
                            font-size: 30px;
                        }
                    }
                }
                .demo-code{
                    display: flex;
    
                    pre {
                        width: 100%;
                    }
                }
            }
    
        }
    }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {

    .demo{

        .demo-item{
            margin-bottom: 30px;
    
            .demo-item-content{
                display: flex;
    
                .demo-view{
                    flex: 1;
                    display: flex;
    
                    h2 , div span{
                        font-size: 40px;
                    }

                    h2 , div > span{
                        font-size: 48px;
                    }
                    h3{
                        font-size: 30px;
                    }
                    div {
                        span , p{
                            font-size: 25px;
                        }
                    }
                    .d-11-scale{
                        span{
                            font-size: 30px;
                        }
                    }
                    .d-12-scale{
                        span{
                            font-size: 30px;
                        }
                    }
                }
                .demo-code{
                    display: flex;
    
                    pre {
                        width: 80%;
                    }
                }
            }
    
        }
    }

}