// transitions ==============================================
// in out

// in

// out
$easeOutExpo: cubic-bezier(0.16, 1, 0.3, 1);
$easeOutQuad: cubic-bezier(0.5, 1, 0.89, 1);
$easeOutQuart: cubic-bezier(0.25, 1, 0.5, 1);
$easeOutBack: cubic-bezier(0.34, 1.56, 0.64, 1);
$easeOutCirc: cubic-bezier(0, 0.55, 0.45, 1);
$easeOutOne: cubic-bezier(0.075, 0.82, 0.165, 1);
$easeOutTwo: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeOutThree: cubic-bezier(0.09, 0.78, 0, 1.28);
// =================x==============x===========================

// Text Animations ============================================
.txt-an-1 {
    overflow: hidden;
    padding-right: 20px;

    span {
        display: inline-block;
        transform: translate(10px, 100%) rotate(-200deg);
        opacity: 0;
        transform-origin: bottom;
    }
}
.txt-an-2 {
    span {
        display: inline-block;
        opacity: 0;
        transform: scale(10);
        filter: blur(5);
    }
}
.txt-an-3 {
    // animation: tx-an-8 $easeOutQuart forwards;

    span {
        display: inline-block;
        opacity: 0;
        filter: blur(3px);
    }

    // @keyframes tx-an-8 {
    //     0% {
    //         filter: blur(5px);
    //         opacity: 0;
    //     }
    //     100% {
    //         filter: blur(0px);
    //         opacity: 1;
    //     }
    // }
}
.txt-an-4 {
    position: relative;

    span {
        display: inline-block;
        position: absolute;
        opacity: 0;
        transform: scale(0);
        transform-origin: center;
    }
}
.txt-an-5 {
    position: relative;

    span {
        display: inline-block;
        position: absolute;
        opacity: 0;
        filter: blur(5px);
        transform: scale(5);
        transform-origin: center;
    }

}
.txt-an-6 {
    overflow: hidden;
    display: inline-block;
    position: relative;
    padding: 0 10px;

    span {
        display: block;
        z-index: 1;
        transform: translateX(100%);
        opacity: 0;
        animation: spn-overlay-3 $easeOutTwo both;

        @keyframes spn-overlay-3 {
            0% {
                opacity: 0;
                transform: translateX(100%);
                filter: blur(5px);
            }
            100% {
                opacity: 1;
                transform: translateX(0);
                filter: blur(0px);
            }
        }

        &.out {
            // animation: 1s spn-overlay-out-3 $easeOutOne both;
            // animation-delay: 0.1s;

            @keyframes spn-overlay-out-3 {
                0% {
                    opacity: 1;
                    transform: translateX(0px);
                }
                100% {
                    opacity: 0;
                    transform: translateX(100%);
                }
            }
        }
    }

    .sig-txt-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        animation: overlay-3 $easeOutCirc forwards;

        @keyframes overlay-3 {
            0% {
                left: 0;
            }
            50% {
                left: 50%;
            }
            100% {
                left: 100%;
            }
        }

        &.out {
            // animation: 1.4s overlay-out-3 $easeOutQuart forwards;

            @keyframes overlay-out-3 {
                0% {
                    left: 100%;
                    width: 100%;
                }
                50% {
                    width: 50%;
                    left: 50%;
                }
                100% {
                    left: 0%;
                    width: 0%;
                }
            }
        }
    }
}
.txt-an-7 {
    position: relative;

    span {
        display: none;
    }

    &::after {
        content: "|";
        animation: 0.5s typed-1 ease-in-out infinite;
    }
    @keyframes typed-1 {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}
.txt-an-8 {
    position: relative;

    span {
        display: none;
    }

    &::after {
        content: "|";
        opacity: 0.5;
    }
}
.txt-an-9 {
    overflow: hidden;
    display: block;
    position: relative;

    span {
        // display: inline-block;
        transform: translateY(100%);
        transform-origin: top;
        opacity: 0;
        display: none;
    }
}